apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  nginx.conf: |
    user nginx;
    worker_processes  auto;
    events {
      worker_connections  10240;
    }
    http {
      server {
        listen 80;
        server_name localhost;

        location / {
          proxy_pass http://helloworld:8080;
        }
      }
    }
